@page
@model HelloRazor.Pages.PoulsPageModel
@{
    ViewData["Title"] = "Dette er " + Model.Name + "s side";
}

<h2>Dette er @Model.Name</h2>
<p>
    Hvor kan jeg få fat i det?
    Der er mange tilgængelige udgaver af Lorem Ipsum, men de fleste udgaver har gennemgået
    forandringer, når nogen har <b>tilføjet</b> humor eller tilfældige ord, som på ingen måde ser ægte ud.
    Hvis du skal bruge en udgave af Lorem Ipsum, skal du sikre dig, at der ikke indgår noget pinligt midt i teksten. Alle Lorem Ipsum-generatore på nettet har en tendens til kun at dublere små brudstykker af Lorem Ipsum efter behov, hvilket gør dette til den første ægte generator på internettet. Den bruger en ordbog på over 200 ord på latin kombineret
    med en håndfuld sætningsstrukturer til at generere sætninger, som ser pålidelige ud. Resultatet af
    Lorem Ipsum er derfor altid fri for gentagelser, tilføjet humor eller utroværdige ord osv.
</p>



